{% extends 'info_page.html' %}

{% block info_content %}

<h2>
    Update task
</h2>

<form id="update_form" method="POST">
    {% csrf_token %}

    <div>
        <div>
            <span class="center-this">Content:</span>
            <div>{{form.title}}</div>
        </div>

        <div style="display: flex; justify-content: left">
            <span>Complete:</span>
            <div style="border-left: 5px solid transparent;"></div>
            <div style="border-top: 35px solid transparent;"></div>
            <span>{{form.complete}}</span>
        </div>
    </div>

</form>

<div class="grid-container-two-buttons">

    <form action="{% url 'todo_main' %}">
        <span>
        <input class="btn-sm btn-info" style="float: left" type="submit" value="cancel">
        </span>
    </form>

    <div></div>

    <span>
        <input form="update_form" class="btn-sm btn-info" type="submit" value="update" name="Update Item">
    </span>

</div>

{% endblock info_content %}
