{% extends 'info_page.html' %}

{% block info_content %}

<h2>
    Update task
</h2>

<form id="update_form" method="POST">
    {% csrf_token %}
    <div class="container-fluid grid-container-todoupdateform">
        <span>Content:</span>
        <span>{{form.title}}</span>
    </div>
    <div class="container-fluid grid-container-todoupdateform-justify">
        <span>Complete:</span>
        <span style="position:relative; left:5px;">{{form.complete}}</span>
    </div>
</form>

<div class="container-fluid grid-container-twobuttons">

    <form action="{% url 'todo_main' %}">
        <span>
        <input class="btn-sm btn-info" style="float: left" type="submit" value="cancel">
        </span>
    </form>

    <span>
        <!-- intentionally empty span -->
    </span>

    <span>
        <input form="update_form" class="btn-sm btn-info" type="submit" value="update" name="Update Item">
    </span>

</div>

{% endblock info_content %}
