/*********************************/
/*               BODY            */
/*********************************/
body {
    background-color: red #131516;
}
/*********************************/
/*             NAVBAR            */
/*********************************/
.bg-dark {
    background-color: #453163 !important;
}

.navbar-brand {
    color: #00bfbf !important;

}

.nav-link {
    color: Orange !important;
    font-size: 20px;
}

.nav-link:focus, .nav-link:hover {
    color: #00bfbf !important;
}

.dropdown-menu {
    background-color: #453163 !important;
    border: 0px solid rgba(0, 190, 190, 0.55) !important;
    min-width: 8rem !important;
    border-radius: 0.25rem !important;
    box-shadow: 2px 2px 5px 3px rgba(30,30,50,0.75);
    font-size: 18px;
}

.dropdown-item {
    background-color: #453163 !important;
    padding: 0.15rem 1.0rem;
    color: Orange !important;
}

.dropdown-item:focus, .dropdown-item:hover { /* dropdown links */
    color: #00bfbf !important;
}

@media all and (min-width: 1024px) { /* hover to dropdown */
	.navbar .nav-item:hover .dropdown-menu {display: block}
	/* ^mechanism: when you hover over nav-item that inherits from .navbar, apply {display: block} to .dropdown-menu */
	.navbar .nav-item .dropdown-menu{margin-top:0}
	/* ^removes margin from top so dropdown doesn't expire before you hover over */
}

@media all and (max-width: 1024px) { /* dropdown for mobile customization */
    .dropdown-menu {
        border: 0px solid rgba(0, 190, 190, 0.55) !important;
        box-shadow: none;
        /* offset-x | offset-y | blur-radius | spread-radius | opacity */
    }
}

/*********************************/
/*           GLOBAL              */
/*********************************/
.container-fluid {
    margin: 0px;
    padding: 0px;
}

.center-column{
    width: auto;
    margin: 10px auto; /* keeps 20px from nav bar and automatically centers*/
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #1d1f21;
    border-radius: 4px;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    /* background pattern */

    background-color: #26232c;
    opacity: 1.0;
    background-image:
      linear-gradient(135deg, #153333 25%, transparent 25%),
      linear-gradient(225deg, #153333 25%, transparent 25%),
      linear-gradient(45deg, #153333 25%, transparent 25%),
      linear-gradient(315deg, #153333 25%, #26232c 25%);
    background-position: 22px 0, 22px 0, 0 0, 0 0;
    background-size: 22px 22px;
    background-repeat: repeat;

}

@media all and (max-width: 1024px) {
.center-column {
    margin: auto; /* keeps 20px from nav bar and automatically centers*/
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}}

.center-this {
    text-align: center;
}

.info-box {
    margin: 0px 30px;
    color: orange;
}

.info-box p {
    color: orange;
}

/*********************************/
/*             TEXT              */
/*********************************/
p {
    color: Orange;
    word-break: break-word;
}

span {
    color: Orange;
    word-break: break-word;
}

h1, h2, h3, h4, h5 {
    color: #008b8b;
    text-align: center;
    word-break: break-word;
}

.title-text {
    color: #00bfbf;
    word-break: break-word;
}

.content-text {
    color: Orange;
    word-break: break-word;
}

.highlight-this {
    color: #00bfbf;
}

/*********************************/
/*         LINKS BODY            */
/*********************************/
a:link {
    text-decoration: none;
    color: #00bfbf;
}

a:visited {
    text-decoration: none;
    color: #00bfbf;
}

a:hover {
  color: #296363;
}

a:active {
    text-decoration: none;
    color: #296363;
}

/*********************************/
/*             FORMS             */
/*********************************/
input[type=submit]{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
}

.input-dark{
    width: 100%;
    padding: 8px 10px;
    margin: 5px 0px 10px 0px;
    background-color: #242729;
    color: orange;
    box-sizing: border-box;
    border: 2px solid #3e9797;
    border-radius: 4px;
    resize: none;
}

.input-dark:hover, .input-dark:focus {
    border: 2px solid #00bfbf;
    outline: none;
}

.textarea {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #3e9797;
    border-radius: 4px;
    resize: both;
}

.textarea:focus {
    outline: none;
}

.checkbox-dark {
    appearance: none;
    background-color: #242729;
    margin: 5px 0px -5px 0px;
    cursor: pointer;
    width: 20px;
	height: 20px;
	border: 2px solid #3e9797;
	border-radius: 4px;
	padding: 3px;

}

.checkbox-dark:checked {
    background-color: #3e9797;
    cursor: pointer;
    content: '\2714';
}

.checkbox-dark:hover {
    border: 2px solid #00bfbf;
    cursor: pointer;
}

.checkbox-dark:focus, .checkbox-dark:active {
    border: 2px solid #00bfbf; outline: none;
}

.select-multiple-field {
    display: flex;
    padding: 2px;
    width: auto;
    height: auto; /* 25px per tag */
    border-radius: 4px;
    resize: none;
    cursor: pointer;
}

.select-multiple-field option {
    background: #242729;
}

.select-multiple-field option:hover {
    background-color: #153232;
    cursor: pointer;
    box-shadow: 0 0 10px 100px #1882A8 inset;
}

.select-multiple-field option:checked {
    background-color: #153232;
    cursor: pointer;
    box-shadow: 0 0 10px 100px #1882A8 inset;
}

.input-search { /*overriding input-dark*/
    padding-left: 45px;
    height: 50px;
    font-size: 18px;
}

.search-icon {
    height: 0px;
    width: 0px;
    color: orange;
    position: relative;
    left: 12px;
    top: 10px;
    font-size: 25px;
    pointer-events: none;
    background-color: red;
}

/*********************************/
/*             BUTTONS           */
/*********************************/
.btn-danger{
    background-color: #725230;
    border-radius: 4px;
    border-color: #3e9797;
    border-width: 2px;
    font-weight: bold;
    color: Orange !important;
    /*font-size: 0.8vw; scales font size*/
}

.btn-danger:hover{
    color: Orange;
    background-color: #8e663c;
    border-color: #00bfbf;
}

.btn-info{
    background-color: #004747;
    border-radius: 4px;
    border-color: #3e9797;
    border-width: 2px;
    font-weight: bold;
    color: Orange !important;
    /*font-size: 0.8vw; scales font size*/
}

.btn-info-desaturated {
    background-color: #232323;
}

.btn-info:hover {
    color: Orange;
    background-color: #005959;
    border-color: #00bfbf;
}

.btn-info:focus, .btn-info:active {
    box-shadow: none !important; /* removes ugly shadows on focus */
    outline: none;
    background-color: #005959;
    border-color: #00bfbf;
 }

.btn-danger:focus, .btn-danger:active {
    box-shadow: none !important; /* removes ugly shadows on focus */
    outline: none;
    background-color: #8e663c;
    border-color: #00bfbf;
 }

.custom-button {
    background-color: #296363;
    padding: .5em;
    border-radius: 6px;
    color: GoldenRod;
    color: Black;
    font-family: 'Garamond';
    font-size: 20px;
    border: none;
}

.custom-button:hover {
    border: none;
    background: orange;
    color: black;
    box-shadow: 0px 0px 1px #777;
}

/* butonless buttons */
.btn-info-buttonless {
    border: none;
    background-color: transparent;
    color: #318d7f;
}
/* optional colors:
#318d7f - best?
#215e54 - 2nd best?
#008b8b - 3rd best?
#8c4eb9 - too fancy?

*/
.btn-info-buttonless:hover {
    color: #00bfbf;
}

.btn-info-buttonless:focus, .btn-info-buttonless:active {

    outline: none;
 }

/*********************************/
/*             TASKS             */
/*********************************/
.actions-container-row1 {
    display: flex;
    margin: 0px 5px 0px 5px;
    padding: 0px 5px 0px 5px;
}

.actions-container-row2 {
    display: flex;
    margin: 5px;
    padding: 5px;
    background-color: inherits;
    position: relative;
    top: 0px;
}

.actions-row1-buttons {
}

.actions-row2-buttons {
    display: flex;
    background-color: inherits;
    flex: 0 1 100000px;
    justify-content: flex-end;
}

.task-main {
    /*background-color: #153333;*/
    background-color: rgba(21, 51, 51, 1.00);
    margin: 10px;
    padding: 10px;
    color: Orange;
    border: 1px solid #32675a;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.75);
}

/* Glassmorphism card effect */
.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    /*background-color: rgba(17, 25, 40, 0.75);*/
    /*border-radius: 12px;*/
    /*border: 1px solid rgba(255, 255, 255, 0.125);*/
}

.tm-completed {
    background-color: #242424; /**/
}

.overlay {
    content: ""; /*::before and ::after both require content*/
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    opacity: .3;
    z-index: 100;
}
.task-container {
}

.task-container-row1 {
    background-color: transparent;
    display: flex;
    grid-template-columns: 100% auto;
}

.task-container-row2 {
    background-color: transparent;
    display: flex; /* display: grid; */
    grid-template-columns: 100% auto;
}

.task-container-row3 {
    background-color: transparent;
    display: flex; /* display: grid; */
    grid-template-columns: 100% auto;
}

.task-container-flex {
    display: flex;
}

.task-title {
    display: flex;
    background-color: transparent;
    flex: 0 1 1000px;
    font-weight: bold;
    line-height: 0.80;
    font-size: 18px;
    font-style: italic;
}

.task-description {
    display: flex;
    background-color: transparent;
    flex: 0 1 1000px;
}

.task-buttons {
    display: flex;
    background-color: transparent;
    justify-content: right;
}

.task-title-text {
    color: #008b8b;
    position: relative;
    top: 5px;
    font-size: 2.1vh;
}

.ttt-completed {
    /*color: #454545; /*desaturated*/
    color: #294e4e; /*paled*/
}

.task-description-text {
    color: Orange;
    word-break: break-word;
    font-size: 1.8vh;
}

.tdt-completed {
    color: #7f7f7f; /*desaturated*/
    /*color: #645236; /*paled*/
}

.task-tags {
    display: flex;
    background-color: transparent;
    flex: 0 1 1000px;
    justify-content: right;
}

.tag{
    color: #b8815a;
    max-height: 20px;
	margin-left: 3px;
	padding-top: 0px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 8px;
	position: relative;
	bottom: 0px;
	right: 0px;
	background-color: #004747;
	line-height: 15px;
	border-radius: 4px;
	font-size: 1.5vh;
	box-shadow: -3px -2px 0px 0px rgba(62,151,151,0.95), 3px 2px 0px 0px rgba(62,151,151,0.95);
	/* offset-x | offset-y | blur-radius | spread-radius | opacity */
}

.tag:hover{
    color: #00bfbf;
}
/*********************************/
/*              LOGIN            */
/*********************************/
p span {
    color: Orange!important;
}

/*********************************/
/*           WORD COUNTER        */
/*********************************/
.column-for-textarea{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

/*********************************/
/*         TO-DO LIST            */
/*********************************/

.item-row{
    background-color: #153232;
    margin: 10px;
    padding: 10px;
    color: Orange;
    border-radius: 3px;
    font-size: 16px;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.75);
}

.grid-for-item-row {
  display: flex;
  column-gap: 1%;
  row-gap: 1%;
}

.column-for-item-row {
    padding-right: 35px;
    padding-left: 15px;
}

.grid-container-onecolumn {
  display: inline-block;
}

.grid-container-two-buttons {
  display: grid;
  grid-template-columns: 49% 2% 49%;
}

.separator-horizontal {
    border-top: 2px solid transparent;
}

.separator-vertical {
    border-left: 2px solid transparent;
}

/*********************************/
/*           TOOLTIP             */
/*********************************/
.tooltip-wrapper {
    -webkit-transform: translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.tooltip-wrapper .tooltip-box {
    border-radius: 5%;
    background: #453163;
    bottom: 100%;
    color: Orange;
    display: block;
    left: 0;
    margin-bottom: 15px;
    opacity: 0;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    left: -50px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

.tooltip-box p span {  /* sets color of tooltip message */
    color: orange !important;
}

.tooltip-box p {  /* sets color of tooltip message */
    color: #008B8B !important;
    line-height: 0.20;
}

/* allows to move over tooltip before expiring
.tooltip-wrapper .tooltip-box:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}
*/

/* Triangle on bottom
.tooltip-wrapper .tooltip-box:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: 13px;
  position: absolute;
  width: 0;
}
*/

.tooltip-wrapper:hover .tooltip-box {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}


/*********************************/
/*             TABS              */
/*********************************/



/*********************************/
/*          TEST TABLE           */
/*********************************/
.table-container{
 border: 2px solid transparent;
 background-color: rgb(24, 26, 27);
}

.table-container div {
    color: orange;
}

.table-item {
    border: 1px solid rgba(140, 130, 115, 0.15);
    padding: 5px 5px 5px 10px;
}


/*********************************************/
/* REMEMBER: BOOTSTRAP CSS STYLES EVERYTHING */
/*********************************************

COLORS--------------------------------
navbar background/tooltip: #453163 - purple
global background: #131516

main column background: #1d1f21 dark-grey
main item incomplete background: #153232 - dark-green
main item complete background: #242729 - light-grey
input background: #242729 - light-grey

unused: #404040 - very light grey
unused: #26232c - dark purple
unused: #1e2021 - dark purple/green/grey (just dark something)

borders-main: #32675a rotten-green
borders-button-dimmed : #3e9797 - dimmed-shining-teal
borders-button-highlighted: #00bfbf - shining-teal

button-info background: #004747
button-info background hover: #005959

button-danger background: #725230;
button-danger background hover: #8e663c;

highlighting text/link/borders: #00bfbf - shining-teal
main item title text: #008B8B - DarkCyan
main item title text completed: #294e4e; paled-DarkCyan
regular text: Orange
header text: #bb8d5f - pale-orange
placeholder text: #d3d3d3 - pale-grey



SIZES---------------------------------
border-radius: 4px;
border-width: 2px;



HACKS---------------------------------
.separator-horizontal {
    border-top: 2px solid transparent;
}

.separator-vertical {
    border-left: 2px solid transparent;
}

#prevents wrapping (buttons with space in name won't shrink)
.white-space-no-wrap {
    white-space: nowrap;
}
*/
