{% extends 'info_page.html' %}

{% block info_content %}
<div>

    <div style="display: flex; margin-bottom: 10px">
        <div class="tooltip-wrapper" style="display: flex">
            <a href="{% url 'tasks_list' %}"><i id="backButton" style="font-size: 30px; color: orange" class="bi-arrow-left-square"></i></a>
            <div class="tooltip-box" style="margin-left: -25px;">Back</div>
            <input aria-labelledby="backButton" style="display: none" type="submit">
        </div>

        <h2 style="padding-left: 20px; font-size: 37px">Manage Tags</h2>

    </div>

    {% include 'messages.html' %}
    <hr>
    <div style="margin-top: 10px">Tag name:</div>

        <div>
            <form method="POST" id="TagsForm">
                {% csrf_token %}
                {{ form.name }}
            </form>
        </div>

        <div>
            <input form="TagsForm" class="btn-info" type="submit" value="add tag">
        </div>

    <div>
        <br>
        <span>Available tags:</span>
        <br>
        <div style="padding-left: 5px" class="input-dark">
            {% for tag in tags %}
                <div style="display: flex">

                    <form action="{% url 'tasks_delete_tag' tag.id %}"> <!-- delete button -->
                        <div class="tooltip-wrapper" style="display: flex">
                            <button class="btn-info-buttonless" id="inputDeleteButton" style="line-height: 16px;"><i class="bi-trash"></i></button>
                            <div class="tooltip-box" style="margin-left: -25px;">Delete</div>
                            <input aria-labelledby="inputDeleteButton" style="display: none" type="submit">
                        </div>
                    </form>
                    <div class="separator-vertical"></div>
                    <div style="padding-left: 10px; position: relative; top: -4px">{{ tag|linebreaksbr }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock info_content %}
