{% extends 'info_page.html' %}

{% block info_content %}

<div class="center-this">{{ text }} - testing Sortable</div>

<hr>

<div class="table-container" id="drag-items">
    <div class="table-item">Item 1</div>
    <div class="table-item">Item 2</div>
    <div class="table-item">Item 3</div>
    <div class="table-item">Item 4</div>
    <div class="table-item">Item 5</div>
    <div class="table-item">Item 6</div>
</div>

<table>
    <thead>
        <tr>
          <th>Month</th>
          <th>Savings</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>January</td>
          <td>$100</td>
        </tr>
        <tr>
          <td>February</td>
          <td>$80</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
          <td>Sum</td>
          <td>$180</td>
        </tr>
    </tfoot>
</table>

{% endblock info_content %}