<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'dark_green_orange_style.css' %}">

<!-- jQuery-ui -->
<link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet">
<link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.structure.min.css' %}" rel="stylesheet">
<link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.theme.min.css' %}" rel="stylesheet">

<!-- Material Design Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css">

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=1.0, maximum-scale=3.0, shrink-to-fit=no">
    <title>Rejoyceslav</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand">Rejoyceslav</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--     </li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Apps
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'word_counter' %}">word counter</a>
          <a class="dropdown-item" href="{% url 'todo_main' %}">to-do list</a>
          <a class="dropdown-item" href="{% url 'tasks_list' %}">tasks</a>
          <a class="dropdown-item" href="{% url 'test' %}">test</a>
          <!--          <div class="dropdown-divider"></div>-->
        </div>
      </li>
      <li class="nav-item">
<!--        <a class="nav-link disabled" href="#">Disabled</a>-->
      </li>
    </ul>
<!--login/logout/display user's name-->
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}" style="font-size: 16px">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile_main' %}" style="font-size: 16px">{{ request.user }}</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register_main' %}" style="font-size: 16px">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login_main' %}" style="font-size: 16px">Login</a>
      </li>
      {% endif %}
<!--      <li class="nav-item">   &lt;!&ndash; place avatar here &ndash;&gt;-->
<!--          <img src="{% static 'img/zerg_logo.png' %}">-->
<!--      </li>-->
    </ul>
<!--end of login/logout/display user's name-->
  </div>
</nav>
<div class="container-fluid">
  {% block content %}


  {% endblock content %}
</div>

<!-- jQuery -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.12.1/jquery-ui.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!-- Ajax -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Fontawesome -->
<!--<script src="https://kit.fontawesome.com/fcf7d6482c.js" crossorigin="anonymous"></script>-->
<!-- Sortable.min.js -->
<script src="{% static 'js/external/Sortable.min.js' %}"></script>
<!-- Sortable CDN -->
<!--<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>-->
</body>
</html>
